.wrapper {
    position: relative;
    margin-bottom: 10px;
    background: #141414;
    border: 1px dashed #323232;
    border-radius: 2px;
    padding: 10px
}

.property {
  margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    gap: 10px;

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      min-width: 40px;
      background-color: #323232;
    }

    &:empty {
      display: none
    }
}

.delete {
    cursor: pointer;

    &:hover {
        background-color: #ff460d !important;
    }
}

.move {
    flex: 1;
    cursor: row-resize;

    &:hover {
      background-color: #3f3f3f;
  }
}

.simpleWrapper {
  display: flex;
  position: relative;
}

.simpleWrapper span label span {
  display: none;
}

.group {
  flex: 1;
  margin-bottom: 10px;
}

.simpleButtons {
  margin-top: 6px;
  margin-left: 2px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  gap: 2px;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
    background-color: #323232;
  }

  &:empty {
    display: none
  }
}