.wrapper {
  position: relative;
  margin-bottom: 10px;
  background: var(--colors-ContrastDarkest);
  border: 1px dashed var(--colors-ContrastNeutral);
  border-radius: 2px;
  padding: 10px;
}

.property {
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  gap: 10px;

  & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      min-width: 40px;
      background-color: var(--colors-ContrastNeutral);
  }

  &:empty {
      display: none;
  }
}

.delete {
  cursor: pointer;

  &:hover {
      background-color: var(--colors-Error) !important;
  }
}

.move {
  flex: 1;
  cursor: row-resize;

  &:hover {
      background-color: var(--colors-ContrastDark);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--spacing-GoldenUnit);
}
