.wrapper {
  position: relative;
  background: var(--colors-ContrastDarkest);
  border: 1px dashed var(--colors-ContrastNeutral);
  border-left: none;
  border-right: none;
  padding: var(--spacing-Full);
  margin: 0 calc(var(--spacing-Full) * -1) 10px;
}

.property {
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  color: var(--colors-ContrastBrightest);
  font-size: var(--fontSize-Base);
  gap: 10px ;

  & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--spacing-GoldenUnit);
      min-width: var(--spacing-GoldenUnit);;
      background-color: var(--colors-ContrastNeutral);
  }

  &:empty {
      display: none;
  }
}

.delete {
  cursor: pointer;

  &:hover {
      background-color: var(--colors-Error) !important;
  }
}

.move {
  flex: 1;
  cursor: row-resize;

  &:hover {
      background-color: var(--colors-ContrastDark);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--spacing-GoldenUnit);
}
